body {
 	background-image: url("http://cameralabs.org/media/cameralabs/images/Tanya/_II_October/22.10/11iceland-waterfall.jpg");
 	background-size: cover;
 	background-repeat: no-repeat;
}

.jumbotron {
	opacity: 0.8;
}